---
// import { SIDEBAR } from '../config';

export const SIDEBAR = [
	{ text: "Getting Started", header: true },
	{ text: "Introduction", link: "/docs" },
  // { text: "Installation", link: "/docs/installation" },
	// { text: "Tutorial", link: "/docs/tutorial" },

  { text: "CLI", header: true },
	{ text: "Introduction", link: "/docs/cli" },
	{ text: "Config", link: "/docs/cli/config" },
  { text: "dev", link: "/docs/cli/dev" },
	// { text: "generate", link: "/docs/cli/generate" },
	// { text: "license", link: "/docs/cli/license" },

  { text: "Components", header: true },
	{ text: "Introduction", link: "/docs/components" },
  { text: "Area", link: "/docs/components/area" },
  { text: "Mask", link: "/docs/components/mask" },
  { text: "Mark", link: "/docs/components/mark" },

  { text: "Build", header: true },
  { text: "Introduction", link: "/docs/build" },
	// { text: "Webpack", link: "/docs/build/webpack" },
	// { text: "Vite", link: "/docs/build/vite" },
	// { text: "RSPack", link: "/docs/build/rspack" },
	// { text: "Rollup", link: "/docs/build/rollup" },
	// { text: "esbuild", link: "/docs/build/esbuild" },
	// { text: "Nuxt", link: "/docs/build/nuxt" },
	// { text: "Next.js", link: "/docs/build/next" },

	{ text: "Guides", header: true },
	{ text: "Introduction", link: "/docs/guides" },
  // { text: "Next.js", link: "/docs/guides/next" },
];

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);

const isCurrentPage = (item) => {
	if (item.link) {
		return item.link === currentPage;
	}
	return false;
};

const getLinkClasses = (link) => {
	const baseClasses = "block py-2 px-6  my-1 transition-colors border-l hover:border-slate-400 text-slate-500 hover:text-slate-900"

	if (isCurrentPage(link)) {
		return baseClasses + " border-slate-500 text-slate-900";
	} else {
		return baseClasses;
	}
}

---
<aside title="Site Navigation">
	<!-- <Debug content={navigation} /> -->
	<nav aria-labelledby="grid-left" class="w-64 p-4 border-r">
		<ul>
			{SIDEBAR.map(item => (item.header ? 
				<h2 class="mt-4 font-semibold text-slate-700">{item.text}</h2> : 
				<li class={getLinkClasses(item)}>
					<a href={item.link} class="no-underline">{item.text}</a>
				</li>))}
		</ul>
	</nav>
</aside>
